/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* Общие стили */
.content{
}
/* .page {
  max-width: 1024px;
  height: 10000px; 
  background-color: #000028; 
}

.header {
  background-image: url('/images/cover-image-dark.png');
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  height: 100%;
   max-height: 1024px; 
} */
.page {
  inline-size: 100%;
  background-image: url('/images/cover-image-dark.png');
  background-position: center;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000028;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 20px;
  block-size: 100vh;
  min-block-size: 668px;
}
.decorated-zone {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}

/* Навигация */
.header__theme-menu {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  /* padding-right: 375px; */
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap:10px;

}

.header__theme-menu-item {}

/* Кнопки */
.header__theme-menu-button {
  font-family: IBM Plex Mono;
font-size: 18px;
  border: none;
  background-color: inherit;
  color: #FF0070;
}
.header__theme-menu-button_type_light {
  
}
.header__theme-menu-button_active {
  border: 1px solid#FF0070;
  pointer-events: none
}
.header__theme-menu-button_type_auto {
  /* border: 1px solid inherit; */
}
.header__theme-menu-button_type_dark {
  /* border: 1px solid inherit; */
}

/* ТУТ БЕТОННО ЧЕ-ТО НЕ ТО начало*/
.camera_effect{
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.camera_REC{
  margin-top: 10px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  color:#FF0070;
}
.circle_with_up_stick{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.camera_stick_up {
  display: flex;
  width: 25px;
  height: 1px;
  background-color: #FF0070;
}
.camera_circle{
     margin-top: 7px; /*отступ круга от верхней палки */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    background-color:#FF0070;
    border-radius: 50%;
    box-shadow:  rgba(255, 3, 3, 0.3); 
}
.camera_stick_right{
  width: 1px;
  height: 25px;
  background-color: #FF0070;
}
/* ТУТ БЕТОННО ЧЕ-ТО НЕ ТО  конец*/
.header__title{
  padding-top:20vi;
  font-family: IBM Plex Mono;
font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
font-weight: 700;
 color:#DB00FF ;
 text-shadow: 4px 4px 0 #FF0070;
}
.header__paragraph_box{
    padding-top: 15vi;
  display: flex;
  justify-content: end;
}
.header__paragraph{
  background-color: #FF0070;
  color: #000028;
  font-family: IBM Plex Mono;
 font-size: 18px;
 font-weight: 700;
  width: 491px;
  min-width: 335px;
  height:71px;
}
.bottom_angle{

  justify-content: left;
  /* padding-top: 200px; */
  display: flex;
}
.stick_left {
  display: flex;
  width: 1px;
  height: 25px;
  background-color: #FF0070;
}
.stick_down {
  width: 25px;
  height: 1px;
  background-color: #FF0070;
  margin-top: 25px;
}
@media (max-width: 768px) {
  .header__theme-menu-list{
    flex-direction: column;
  }
  .header__theme-menu{

    padding-top:15vi;
    justify-content: right;
  }
  .header__title{
    font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
