/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* Общие стили */
.page {
  background-color:var(--decor-color); 
}
.header {
  background-image: var(--bg-img);
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr min-content  1fr;
}
/* ТУТ БЕТОННО ЧЕ-ТО НЕ ТО начало*/
.camera_effect{
  position: absolute;
  display: flex;
  top:20px;
  right: 20px;
}
.camera_REC{
  margin-top: 3px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  color:#FF0070;
}
.circle_with_up_stick{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.camera_stick_up {
  display: flex;
  width: 25px;
  height: 1px;
  background-color: var(--angel-color);
}
.camera_circle{
     margin-top: 7px; /*отступ круга от верхней палки */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    background-color:#FF0070;
    border-radius: 50%;
    position: relative; 
    z-index: 0;
}
.camera_circle::after {
   content: '';
    position: absolute;

       width: 15px;
        height: 15px;
         background:  rgba(255, 0, 112, 0.5);
         border-radius: 50%;
         filter: blur(2px);
        z-index: 1; }
.camera_stick_right{
  width: 1px;
  height: 25px;
  background-color: var(--angel-color);
}
/* ТУТ БЕТОННО ЧЕ-ТО НЕ ТО  конец*/
/* .page {
  inline-size: 100%;
  background-image: url('/images/cover-image-dark.png');
  background-position: center;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000028;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 20px;
  block-size: 100vh;
  min-block-size: 668px;
} */
.decorated-zone {
  display: grid;
  padding: 20px 20px;
}

/* Навигация */
.header__theme-menu {
  display: grid;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap:10px;

}

.header__theme-menu-item {}

/* Кнопки */
.header__theme-menu-button {
  font-family: IBM Plex Mono;
font-size: 18px;
  border: none;
  background-color: inherit;
  color: var(--button-color);
}
.header__theme-menu-button_type_light {
  
}
.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none
}
.header__theme-menu-button_type_auto {
  /* border: 1px solid inherit; */
}
.header__theme-menu-button_type_dark {
  /* border: 1px solid inherit; */
}


.header__title{
  font-family: IBM Plex Mono;
font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)  ;
font-weight: 700;
 color:var(--title-color) ;
 text-shadow: 4px 4px 0 var(--accent-color);
}
.header__paragraph_box{
  padding-top: 5vh;
  display: flex;
  justify-content: end;
  
}
.header__paragraph{
  background-color: var(--accent-color);
  color: var(--paragraph-back);
  font-family: IBM Plex Mono;
 font-size: 18px;
 font-weight: 700;
 height: 71px;
  width: 491px;
  min-width: 335px;

}
.bottom_angle{
  position: relative;
  justify-content: left;
  display: flex;
}
.stick_left {
  display: flex;
  width: 1px;
  height: 25px;
  background-color:var(--angel-color);
}
.stick_down {
  width: 25px;
  height: 1px;
  background-color: var(--angel-color);
  margin-top: 25px;
}
.sections_paragraph{
  display: flex;
  flex-direction: column;
  padding-top:60px;
  gap:80px;
}
.p_title{
font-family: IBM Plex Mono;
font-size: 18px;
font-weight: 700;
color: var(--default-color);
}
.p_title-with-background{
  color:var(--paragraph-text);
  background-color: var(--accent-color);
}
.p_text{
  font-family: IBM Plex Mono;
font-size: 18px;
font-weight: 400;
color: var(--p-text-color);


}
.first_paragraphs{
  display: grid;
  gap:20px;
  grid-template-columns: 315px 1fr;
}
@media (max-width: 768px) {
  .header__theme-menu-list{
    flex-direction: column;
  }
  .header__theme-menu{

   padding-top: 10vh;
    justify-content: right;
  }
  .header__paragraph{
    width: 0px;
    min-width: 364px;
    height: 117px;
  }
  .first_paragraphs{
    grid-template-columns: 1fr;
  }
}
@media (max-width: 375px) {
  .header__title{
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .decorated-zone {
    padding: 10px 10px;
  }
  .camera_effect{
    top:10px;
    right: 10px;
  }
  .header__paragraph{
    min-width: 355px;
  }
  .sections_paragraph{
    padding-top:40px;
    gap:50px;
  }
  .first_paragraphs{
    grid-template-columns: 1fr;
  }
}
